<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/LENOVO/IdeaProjects/APIAutomation/src/test/java/org/example/TestNG/TestCase_Integration.java">
        <classes>
            <class name="org.example.TestNG.CRUD.TestCase_Integration">
                <methods>
                    <include name="test_update_request_put"/>
                    <include name="test_update_request_get"/>
                    <include name="test_delete_booking"/>
                    <include name="test_after_delete_request_get"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>